.contactPage-main {
    padding: 40px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 65vw;
    max-width: 65vw;
    margin: auto;
    background-color: rgb(226, 237, 255);
    border-radius: 20px;
}

form fieldset {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    border-color: white;
}

fieldset label {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

fieldset input,
fieldset select {
    width: 300px;
    height: 30px;
    margin: 0 auto;
}

fieldset input {
    border-width: 0px;
    border-radius: 10px;
}

textarea {
    width: 80%;
    min-width: 50%;
    max-width: 80%;
    max-height: 500px;
    margin: 0 auto;
    resize: vertical;
    border-width: 0px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#feedback-submit {
    font-size: 20px;
    width: 200px;
    height: 50px;
    margin: auto;
    background-color: rgb(152, 181, 228);
    color: black;
    border-width: 0;
    margin-bottom: 20px;
}

#feedback-submit:hover {
    background-color: rgb(118, 148, 196)
}

@media (max-width: 1250px) {

    form {
        width: 75vw;
        max-width: 75vw;
    }
}

@media (max-width: 750px) {

    form {
        width: 85vw;
        max-width: 85vw;
    }
}