.helpPage-main {
    display: flex;
    flex-direction: row;
}

#help-content {
    flex: 1;
    width: auto;
    padding: 20px;
}

#help-content p {
    padding: 10px 30px;
}

#nav-bar {
    background-color: rgb(238, 238, 238);
    width: 250px;
    padding: 20px;
}

h3 {
    font-size: 25px;
}

p {
    font-size: 18px;
}

img {
    display: block;
    margin: auto;
}

table {
    margin: auto;  
}

table tr td {
    text-align: center;
}

table tr td img {
    height: 50px;
    margin: auto;
}

.table-two-images {
    display: flex;
    flex-direction: row;
    margin: 0px 0px;
    justify-content: center;
}

.table-two-images img {
    margin: 0px 5px;
}