main {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
}

#help-content {
    flex: 1;
    padding: 20px;
}

#help-content p {
    padding: 10px 30px;
}

#nav-bar {
    background-color: rgb(238, 238, 238);
    width: 250px;
    padding: 20px;
}
