main {
    display: flex;
    flex-direction: row;
}

#help-content {
    background-color: gray;
    flex: 1;
    padding: 20px;
}

#help-content p {
    padding: 10px 30px;
}

#nav-bar {
    background-color: aliceblue;
    width: 250px;
    padding: 20px;
}

@media (max-width: 800px) {
    main {
        display: flex;
        flex-direction: column-reverse;
    }

    #nav-bar {
        width: auto;
    }
}