main {
    display: flex;
    flex-direction: row;
}

#help-content {
    flex: 1;
    padding: 20px;
}

#help-content p {
    padding: 10px 30px;
}

#nav-bar {
    background-color: rgb(236, 236, 236);
    width: 250px;
    padding: 20px;
}

@media (max-width: 800px) {
    main {
        display: flex;
        flex-direction: column;
    }

    #nav-bar {
        width: auto;
    }
}