
.homePage-main {
    display: flex;
    flex-direction: column;
}

#homepage-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 10px;
}

#homepage-intro p {
    padding: 0 40px;
}

#homepage-starting-prompt {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(226, 237, 255);
    width: 65vw;
    height: 32vh;
    padding-bottom: 20px;
    margin: 10px auto;
    border-radius: 15px;
    position: relative;
}

#homepage-starting-prompt p {
    padding: 0 40px;
}

#homepage-starting-prompt-buttons {
    display: flex;
    flex: 1 10;
    justify-content: center;
    min-width: none;
}

#homepage-starting-prompt button {
    flex: 1 0 40%;
    height: 70px;
    width: 180px;
    margin: 15px;
    background-color: white;
    color: black;
    font-size: 25px;
    border-radius: 20px;
    border-color: white;
    border-width: 0px;
}

#homepage-starting-prompt button:hover {
    background-color: rgb(197, 197, 197);
}

@media (max-width: 1250px) {
    #homepage-starting-prompt {
        width: 75vw;
        height: 35vh;
    }
    
    #homepage-starting-prompt-buttons {
        width: 50vw;
        margin: auto;
    }

    #homepage-starting-prompt button {
        width: 150px;
    }
}

@media (max-width: 750px) {
    #homepage-starting-prompt {
        width: 85vw;
        min-width: 300px;
        height: 55vh;
    }
    
    #homepage-starting-prompt-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 75vw;
        bottom: 20px;
    }

    #homepage-starting-prompt button {
        flex: 1 0 40%;
        height: 50px;
        min-width: 260px;
    }
}
