header {
    display: flex;
    background-color: rgb(206, 221, 255);  
}

#logo {
    flex: 1;
    margin-left: 20px;
}

#header-nav-links {
    display: flex;
    flex: 3;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-right: 20px;
}