@import url('https://fonts.googleapis.com/css?family=Funnel+Sans');

body {
    font-family: 'Funnel Sans';
}

button {
    color: aliceblue;
    background-color: gray;
    border-radius: 4px;
    padding: 5px;
}

#quizBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(226, 237, 255);
    width: 65vw;
    height: 60vh;
    padding-bottom: 20px;
    margin: 10px auto;
    border-radius: 15px;
    position: relative;
}

#quizBox h4 {
    font-size: 25px;
}

#question-content {
    display: flex;
    flex-direction: row;
    padding: 20px;
    position: absolute;
    height: 50vw; 
}

#question-content img {
    display: flex;
    height: 150px;
    width: 150px;
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translate(-50%, -50%);
}

#question-switches {
    height: 50px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 140px;
    left: 100px;
}

#question-answers {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: absolute;
    width: 600px;
    bottom: 50px;

}

#quizBox button {
    flex: 1 0 40%;
    height: 50px;
    width: 100px;
    margin: 15px;
    background-color: white;
    color: black;
    font-size: 25px;
    border-radius: 20px;
    border-color: white;
    border-width: 0px;
}

#quizBox button:hover {
    background-color: rgb(151, 151, 151);
}

#quizBox #question-content #question-switches button {
    height: 40px;
    width: 40px;
}