@import url('https://fonts.googleapis.com/css?family=Funnel+Sans');

body {
    font-family: 'Funnel Sans';
}

button {
    color: aliceblue;
    background-color: gray;
    border-radius: 4px;
    padding: 5px;
}


