@import url('https://fonts.googleapis.com/css?family=Funnel+Sans');

body {
    font-family: 'Funnel Sans';
}

button {
    color: aliceblue;
    background-color: gray;
    border-radius: 4px;
    padding: 5px;
}

#quizBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(226, 237, 255);
    width: 65vw;
    height: 75vh;
    padding-bottom: 20px;
    margin: 10px auto;
    border-radius: 15px;
    position: relative;
}

#quizBox h4 {
    font-size: 25px;
}

#question-content {
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 20px;
    position: absolute;
    top: 90px;
    height: 150px;
    width: 150px;
    border-radius: 10px;
}

#question-content img {
    display: flex;
    height: 150px;
    width: 150px;
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
}

#question-content #image1, 
#question-content #image2 {
    position: absolute;
}

#quizBox #question-content #image1-offset {
    position: absolute;
    left: 56.5%;
}

#quizBox #question-content #image2-offset {
    position: absolute;
    left: 43.5%;
}

#question-answers {
    display: flex;
    flex: 1 10;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: absolute;
    width: 50vw;
    bottom: 50px;
}

#quizBox button {
    flex: 1 0 40%;
    height: 70px;
    width: 100px;
    margin: 15px;
    background-color: white;
    color: black;
    font-size: 25px;
    border-radius: 20px;
    border-color: white;
    border-width: 0px;
    min-width: 180px;
}

#next-div {
    display: flex;
    position: absolute;
    top: 380px;
    width: 50vw;
    height: 80px;
    font-size: 16px;
    justify-content: right;
    align-items: right;
}

#quizBox #next-div button {
    height: 40px;
    font-size: 20px;
    max-width: 100px;
}

#quizBox button:hover {
    background-color: rgb(197, 197, 197);
}

#quizBox #question-content #question-switches button {
    height: 40px;
    width: 40px;
}

#quizBox button.answer-correct {
    background-color: rgb(58, 220, 58);
}

#quizBox button.answer-incorrect {
    background-color: rgb(183, 107, 107);
}

#next-div #next-button-disabled {
    background-color: rgb(197, 197, 197);
}

@media (max-width: 1250px) {
    #quizBox {
        width: 75vw;
    }
    
    #question-answers {
        width: 60vw;
    }

    #next-div {
        width: 60vw;
    }

}

@media (max-width: 750px) {
    #quizBox {
        width: 85vw;
        min-width: 300px;
    }
    
    #question-answers {
        width: 75vw;
        bottom: 20px;
    }

    #question-answers button {
        flex: 1 0 40%;
        height: 50px;
        min-width: 260px;
    }

    #next-div {
        width: 75vw;
        top: 310px;
    }
}

@media (max-height: 900px) {

    #question-answers button {
        margin: 8px;
    }

    #question-content {
        display: flex;
        height: 125px;
        width: 125px;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
    }

    #question-content img {
        display: flex;
        height: 125px;
        width: 125px;
        background-color: rgba(255, 255, 255, 0);
        border-radius: 10px;
}


}

