@import url('https://fonts.googleapis.com/css?family=Funnel+Sans');

body {
    font-family: 'Funnel Sans';
}

button {
    color: aliceblue;
    background-color: gray;
    border-radius: 4px;
    padding: 5px;
}

#quizBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(226, 237, 255);
    width: 65vw;
    height: 75vh;
    padding-bottom: 20px;
    margin: 10px auto;
    border-radius: 15px;
    position: relative;
}

#quizBox h4 {
    font-size: 25px;
}

#question-content {
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 20px;
    position: absolute;
    top: 90px;
    height: 140px;
    width: 140px;
    border-radius: 10px;
}

#question-content img {
    display: flex;
    height: 150px;
    width: 150px;
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

#question-content #image1 {
    background-color: rgba(255, 255, 255, 0);
}

#question-content #image2 {
    background-color: rgba(255, 255, 255, 0);
}

#quizBox #question-content #image1-offset {
    background-color: rgba(0, 0, 0, 0);
    left: 57%;
}

#quizBox #question-content #image2-offset {
    background-color: rgba(255, 255, 255, 0);
    left: 43%;
}

#question-switches {
    height: 50px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 140px;
    left: 100px;
}

#question-answers {
    display: flex;
    flex: 1 10;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: absolute;
    width: 50vw;
    bottom: 50px;

}

#quizBox button {
    flex: 1 0 40%;
    height: 50px;
    width: 100px;
    margin: 15px;
    background-color: white;
    color: black;
    font-size: 25px;
    border-radius: 20px;
    border-color: white;
    border-width: 0px;
}

#quizBox #next-button button {
    display: flex;
    position: absolute;
    top: 290px;
    right: 12px;
    width: 150px;
    height: 40px;
    font-size: 16px;
    justify-content: center;
    align-items: center;
}

#quizBox button:hover {
    background-color: rgb(197, 197, 197);
}

#quizBox #question-content #question-switches button {
    height: 40px;
    width: 40px;
}

#quizBox button.answer-correct {
    background-color: rgb(58, 220, 58);
}

#quizBox button.answer-incorrect {
    background-color: rgb(183, 107, 107);
}

#next-button #next-button-disabled {
    background-color: rgb(197, 197, 197);
}