@import url('https://fonts.googleapis.com/css?family=Funnel+Sans');

body {
    font-family: 'Funnel Sans';
}

button {
    color: aliceblue;
    background-color: gray;
    border-radius: 4px;
    padding: 5px;
}

#quizBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    width: 80vw;
    padding-bottom: 20px;
    margin: 10px auto;
    border-radius: 15px;
}